body {
     background-color: #EFEFEF; 
     font-family: 'Times New Roman', Times, serif;

}

p {
    background-color: tan;
    width: 300px;
    height: auto;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
}
a {background-color: #fff; color: green; }

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

img {
    width: 300px;
    height: auto;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5,);
}

header{
    text-align: center;
}